REACT_APP_CTP_PROJECT_KEY=hermanmiller_dev_demo
REACT_APP_CTP_CLIENT_SECRET=DkPCvCp0Rs5xvtcK-WOYFjxLwolXBhHz
REACT_APP_CTP_CLIENT_ID=XjjA-HcYMNfDYeZSL98z7li-
REACT_APP_CTP_AUTH_URL=https://auth.us-central1.gcp.commercetools.com
REACT_APP_CTP_API_URL=https://api.us-central1.gcp.commercetools.com
REACT_APP_CTP_SCOPES=manage_orders:hermanmiller_dev_demo view_customers:hermanmiller_dev_demo view_published_products:hermanmiller_dev_demo create_anonymous_token:hermanmiller_dev_demo manage_my_orders:hermanmiller_dev_demo
